<!DOCTYPE html>
<html>
<head>
    <!-- Encodage du site -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Pas de cache -->
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- Nom du réalisateur de la page -->
    <meta name="author" content="GILLES Christophe - Krysles"/>
    <!-- Brève description de la page -->
    <meta name="description" content="Brève description de la page ici"/>
    <!-- Liste de mots clés pour qualifier la page -->
    <meta name="keywords" content="mot clé 1, autre mot clé, blabla"/>
    <!-- Mise en place du réglage du zoom pour les mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <!-- Titre de la page -->
    <title>{% block title %}La cuisine by Mary{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Reset CSS -->
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
    <!-- CSS Perso -->
    <link rel="stylesheet" href="{{ asset('css/mainsmartphone.css') }}"/>
    <link rel="stylesheet" media="screen and (min-width:480px)" href="{{ asset('css/maintablet.css') }}"/>
    <link rel="stylesheet" media="screen and (min-width:1141px)" href="{{ asset('css/main.css') }}"/>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
<header>
    <!-- Sidebar navigation -->
    {{ render(controller('AppBundle:Default:menu')) }}

    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav red darken-3">
        <!-- SideNav slide-out button -->
        <div class="float-xs-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p><a href="{{ path('homepage') }}">La Cuisine By Mary</a></p>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a href="{{ path('homepage') }}" class="nav-link"><i class="fa fa-home"></i> <span
                            class="hidden-md-down">Accueil</span></a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li class="nav-item">
                    <a href="{{ path('my_recipes') }}" class="nav-link"><i class="fa fa-leanpub"></i> <span
                                class="hidden-md-down">Mes recettes</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-unique animated zoomIn"
                         aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item waves-effect waves-light" href="{{ path('admin') }}">Tableau de bord</a>
                        <a class="dropdown-item waves-effect waves-light" href="{{ path('fos_user_profile_show') }}">Mon
                            profil</a>
                        <a class="dropdown-item waves-effect waves-light" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('fos_user_security_login') }}" class="nav-link"><i class="fa fa-arrow-right"></i>
                        <span
                                class="hidden-md-down">Connexion</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <!-- /.Navbar -->
</header>
<main>
    <div id="flash">
        <div class="row">
            <div class="offset-sm-1 col-sm-10 mt-5">
                {% for message in app.session.flashbag.get('success') %}
                    <p class="text-center success-color white-text mt-5 p-2 mb-0">{{ message }}</p>
                {% endfor %}
                {% for message in app.session.flashbag.get('info') %}
                    <p class="text-center info-color white-text mt-5 p-2 mb-0">{{ message }}</p>
                {% endfor %}
                {% for message in app.session.flashbag.get('warning') %}
                    <p class="text-center warning-color white-text mt-5 p-2 mb-0">{{ message }}</p>
                {% endfor %}
                {% for message in app.session.flashbag.get('error') %}
                    <p class="text-center danger-color white-text mt-5 p-2 mb-0">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block main %}
        <div id="homepage" class="item">
            <img id="ardoise" class="animated fadeInRightBig" src="{{ asset('img/website/ardoise3.png') }}" alt=""/>
            <img id="salade" class="animated fadeInDownBig" src="{{ asset('img/website/salade.png') }}" alt=""/>
            <div class="row">
                <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8" id="navsearch">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active col-6 text-center animated bounceInDown"
                           id="list-home-list" data-toggle="list"
                           href="#list-home" role="tab" aria-controls="home"><h1
                                    class="section-heading h4-responsive mt-3 text-center">rechercher une recette</h1>
                        </a>
                        <a class="list-group-item list-group-item-action col-6 text-center animated fadeInRightBig"
                           id="list-profile-list" data-toggle="list"
                           href="#list-profile" role="tab" aria-controls="profile"><h1
                                    class="section-heading h4-responsive mt-3 text-center">et par ingrédient ?</h1></a>
                    </div>
                </div>
                <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                             aria-labelledby="list-home-list">
                            {{ form_start(form, {'id': 'search'}) }}
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2 col-md-1">
                                            <div class="md-form col-12">
                                                <i class="fa fa-search fa-2x pt-2"></i>
                                            </div>
                                        </div>
                                        <div class="col-10 col-md-6 d-flex align-items-center">
                                            <div class="md-form col-12">
                                                {{ form_widget(form.searchtitle, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_label(form.searchtitle, null, {'label': 'ex: Tartiflette', 'label_attr': {'class': 'ml-3'}}) }}
                                                {{ form_errors(form.searchtitle) }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 d-flex align-items-center">
                                            <div class="md-form col-12">
                                                {{ form_widget(form.search, { 'label': ' rechercher', 'attr': {'class': 'btn btn-red col-12 animated bounceIn', 'formnovalidate': 'formnovalidate'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                             aria-labelledby="list-profile-list">
                            <form class="" id="multiplesearch">
                                <div class="md-form form-group">
                                    <i class="fa fa-balance-scale prefix grey-text"></i>
                                    <input type="text" id="ingredient1" class="form-control" placeholder="ex: tomate">
                                    <label for="ingredient1">Ingrédient n°1</label>
                                </div>
                                <div class="md-form form-group">
                                    <i class="fa fa-balance-scale prefix grey-text"></i>
                                    <input type="text" id="ingredient2" class="form-control" placeholder="ex: oignon">
                                    <label for="ingredient2">Ingrédient n°2</label>
                                </div>
                                <div class="md-form form-group">
                                    <i class="fa fa-balance-scale prefix grey-text"></i>
                                    <input type="text" id="ingredient3" class="form-control" placeholder="ex: semoule">
                                    <label for="ingredient3">Ingrédient n°3</label>
                                </div>

                                <div class="text-center mx-auto">
                                    <button class="btn btn-red animated bounceIn">Trouve moi une recette</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="one" class="item">
            <div class="row">
                <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 mb-4">
                    <h2 class="section-heading h1-responsive mt-3 text-center wow fadeInLeftBig" data-wow-delay="0.3s">
                        ELLES FONT LE BUZZ <i
                                class="fa fa-heart"></i></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 offset-sm-1 col-sm-10 offset-lg-3 col-lg-6 mb-4">
                    <!--Carousel Wrapper-->
                    <div id="carousel" class="carousel slide carousel-fade wow fadeInRightBig" data-wow-delay="0.4s"
                         data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            {% for recipe in buzzRecipe %}
                                {% if loop.first %}
                                    <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                                {% else %}
                                    <li data-target="#carousel" data-slide-to="{{ loop.index0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            {% for recipe in buzzRecipe %}
                            {% if loop.first %}
                            <div class="carousel-item active">
                                {% else %}
                                <div class="carousel-item">
                                    {% endif %}
                                    <!--Mask color-->
                                    <div class="view hm-black-slight w-100">
                                        {% for picture in recipe.pictures %}
                                            <a href="{{ path('view_recipe', {'slug': recipe.slug }) }}"><img
                                                        class="d-block w-100"
                                                        src="{{ asset(vich_uploader_asset(picture, 'imageFile')) | imagine_filter('caroussel') }}"/></a>
                                            <!-- <div class="mask">
                                            </div> -->
                                        {% endfor %}
                                    </div>
                                    <div class="carousel-caption">
                                        <h3 class="h3-responsive">{{ recipe.name|myfilter }}</h3>
                                        <p>{{ recipe.description }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Précédent</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Suivant</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                        <h3 class="h3-responsive text-center ml-1 mr-1 wow zoomInDown" data-wow-delay="0.7s">
                            <small class="red-text darken-2"><i class="fa fa-quote-left mt-3 mr-3"
                                                                aria-hidden="true"></i>parce
                                qu'elles sont plus meilleures les unes
                                que les autres<i class="fa fa-quote-right m-3" aria-hidden="true"></i></small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="two" class="item">
            <section class="section magazine-section multi-columns">
                <h2 class="section-heading h1-responsive mt-3 mb-4">RECETTES A LA UNE</h2>
                <p class="section-description">Découvrez ici les dernières recettes et plats de
                    saison.</p>
                <div class="row text-left m-1">
                    <div class="col-12 col-md-4 mb-r wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="single-news">
                            <a href="" class="orange-text mb-1">
                                <h6><i class="fa fa-ship"></i><strong> nouvelles venues...</strong></h6>
                            </a>
                            <div class="view overlay hm-white-slight z-depth-1-half">
                                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid"
                                     alt="First sample image">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <a>
                                <strong>This is title of the news.</strong>
                                <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="single-news">
                            <a>24 Food Swaps That Slash Calories.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>How to Make a Beet Cocktail?
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>8 Sneaky Reasons You're Always Hungry.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>5 Pressure Cooker Recipes You Need to Try.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-r wow fadeInUp" data-wow-delay="0.5s">
                        <div class="single-news">
                            <a href="" class="green-text"><h6><i class="fa fa-calendar-check-o"></i><strong> c'est le
                                        moment !</strong>
                                </h6></a>
                            <div class="view overlay hm-white-slight z-depth-1-half">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(51).jpg"
                                     class="img-fluid" alt="Second sample image">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <a><strong>This is title of the news.</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>Trends in the blogosphere for 2016.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>Where you eat the best lunch in Warsaw?
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>What camera take for holidays?
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>Why you should visit Lisbon?
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-r wow fadeInRight" data-wow-delay="0.5s">
                        <div class="single-news">
                            <a href="" class="pink-text"><h6><i class="fa fa-hourglass-half"></i><strong> pas de temps
                                        ?</strong>
                                </h6></a>
                            <div class="view overlay hm-white-slight z-depth-1-half">
                                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(33).jpg" class="img-fluid"
                                     alt="Third sample image">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <a><strong>This is title of the news.</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>Top models in Poland.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>London Fashion Week - see online.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>Best bags designers in Italy.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="single-news">
                            <a>Choose best swimsuit for summer.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div id="three" class="item">
            <h2 class="section-heading h1-responsive mt-3 mb-5">Bienvenue au sein de notre communauté</h2>
            <div class="row m-2">
                <section class="col-12 col-lg-6 section magazine-section mb-5 wow rollIn" data-wow-delay="0.6s">
                    <div class="card testimonial-card">
                        <div class="card-up orange lighten-1">
                        </div>
                        <div class="avatar"><img src="{{ asset('img/website/mary.jpg') }}"
                                                 class="rounded-circle">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Maryline</h4>
                            <hr>
                            <p><i class="fa fa-quote-left mr-1"></i> Rien de plus agréable qu'un bon plat préparé
                                et apprécié</p>
                            <p>Passionés de cuisine, vous pourrez découvrir ici toutes nos recettes partagées et les
                                tester.</p>
                            <p>Que vous soyez amateurs, curieux ou confirmés, venez nous rejoindre pour vivre des
                                moments de convivialités et d'échange.</p>
                            <a class="btn btn-red darken-3" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                        </div>
                    </div>
                </section>
                <section class="col-12 col-lg-6 section magazine-section mb-5 wow rollIn" data-wow-delay="0.3s">
                    <div class="card testimonial-card">
                        <div class="card-up green lighten-1 text-center white-text p-4">
                            <i class="fa fa-envelope-o fa-2x"></i>
                            <p class="h5-responsive mt-1">nous contacter</p>
                        </div>
                        {{ form_start(contactform, {'class': 'p-5 contact-form'}) }}
                        <div class="p-5 contact-form">
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                {{ form_widget(contactform.name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(contactform.name, 'Votre nom') }}
                                {{ form_errors(contactform.name) }}
                            </div>
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                {{ form_widget(contactform.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(contactform.email, 'Votre email') }}
                                {{ form_errors(contactform.email) }}
                            </div>
                            <div class="md-form">
                                <i class="fa fa-tag prefix grey-text"></i>
                                {{ form_widget(contactform.object, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(contactform.object, 'Sujet') }}
                                {{ form_errors(contactform.object) }}
                            </div>
                            <div class="md-form">
                                <i class="fa fa-pencil prefix grey-text"></i>
                                {{ form_widget(contactform.message, {'attr': {'class': 'md-textarea'}}) }}
                                {{ form_label(contactform.message, 'Votre message') }}
                                {{ form_errors(contactform.message) }}
                            </div>
                            <div class="text-center">
                                {{ form_widget(contactform.send, { 'label': 'envoyer', 'attr': {'class': 'btn btn-red darken-3', 'formnovalidate': 'formnovalidate'} }) }}
                            </div>
                        </div>
                        {{ form_end(contactform) }}
                    </div>
                </section>
            </div>
        </div>

        <div class="dotted-scrollspy hidden-sm-down">
            <ul class="nav smooth-scroll">
                {% block nav %}
                    <li class="nav-item"><a class="nav-link" href="#homepage"><span></span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#one"><span></span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#two"><span></span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#three"><span></span></a></li>
                {% endblock %}
            </ul>
        </div>
    {% endblock %}
</main>
<!-- Footer -->
<footer>
    <div class="row flex-center">
        <div class="col-6 col-md-2 mt-3">
            <a href="{{ path('homepage') }}"><img src="{{ asset('img/website/top.png') }}"
                                                  class="img-fluid"></a>
        </div>
    </div>

    <div class="row flex-center">
        <div class="col-md-3 text-center wow lightSpeedIn" data-wow-delay="0.5s">
            <a class="white-text" href="{{ path('view_mentions') }}">Mentions légales</a>
        </div>
        <div class="col-md-3 text-center wow lightSpeedIn" data-wow-delay="0.6s">
            <a class="white-text" href="{{ path('homepage', {'_fragment': 'three'}) }}">Contact</a>
        </div>
        <div class="col-md-3 text-center wow lightSpeedIn" data-wow-delay="0.7s">
            <a class="white-text" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
        </div>
    </div>
    <hr>
    <!--Social buttons-->
    <div class="row flex-center">
        <div class="col-md-6 text-center mb-3">
            <a id="footer-social-facebook" target="_blank" href="https://www.facebook.com/LesRecettesDeMary/"
               class="btn-floating btn-social-all "><i class="fa fa-facebook left"></i></a>
        </div>
        <div class="col-md-6 text-center mb-3">
            <p>&copy; 2017 Copyright: <a href="" class="white-text darken-4"> Krysles Design</a></p>
        </div>
    </div>
</footer>
<!--/.Footer-->


<!-- JQuery -->
<script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ asset('js/tether.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
<!-- MDB sidebar JavaScript -->
<script type="text/javascript" src="{{ asset('js/modules/sidenav.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/modules/dropdown.js') }}"></script>
<!-- Jquery Plugin Sticky -->
<script type="text/javascript" src="{{ asset('js/modules/jquery.sticky.js') }}"></script>
<!-- Js Perso -->
<script>
    $(".button-collapse").sideNav();
    var container = document.getElementById('slide-out');
    Ps.initialize(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        maxScrollbarLength: 0
    });

    $('.dropdown-toggle').dropdown();
</script>
<!-- Js Perso -->
{% block javascript %}
    <script>

        new WOW().init();

        // initialize scrollspy
        $('body').scrollspy({
            target: '.dotted-scrollspy'
        });


    </script>
{% endblock %}

</body>
</html>
