<!DOCTYPE html>
<html>
<head>
    <!-- Encodage du site -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Pas de cache -->
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- Nom du réalisateur de la page -->
    <meta name="author" content="GILLES Christophe - Krysles"/>
    <!-- Brève description de la page -->
    <meta name="description" content="Brève description de la page ici"/>
    <!-- Liste de mots clés pour qualifier la page -->
    <meta name="keywords" content="mot clé 1, autre mot clé, blabla"/>
    <!-- Mise en place du réglage du zoom pour les mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <!-- Titre de la page -->
    <title>{% block title %}Tableau de bord{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Reset CSS -->
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
    <!-- Fichier CSS -->
    <link rel="stylesheet" href="{{ asset('css/adminsmartphone.css') }}"/>
    <link rel="stylesheet" media="screen and (min-width:480px)" href="{{ asset('css/admintablet.css') }}"/>
    <link rel="stylesheet" media="screen and (min-width:1141px)" href="{{ asset('css/admin.css') }}"/>
    {% block css %}

    {% endblock %}
</head>
<body>
<header>
    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav fixed custom-scrollbar">
        <!-- Logo -->
        <li class="text-center">
            <div class="logo-wrapper">
                <a href="{{ path('homepage') }}"><img src="{{ asset('img/website/top.png') }}" class="img-fluid"></a>
            </div>
        </li>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li class="text-center">
                    <a class="collapsible-header waves-effect arrow-r m-0 p-0"
                       href="{{ path('admin_liste_categories') }}">Catégories</a>
                    <img src="{{ asset('img/website/middle.png') }}" class="img-fluid">
                </li>
                <li class="text-center">
                    <a class="collapsible-header waves-effect arrow-r m-0 p-0">Recettes<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body animated fadeInDown">
                        <ul>
                            <li><a href="{{ path('admin_liste_recipes') }}"
                                   class="waves-effect">En cours</a>
                            </li>
                            <li><a href="{{ path('admin_liste_recipes_to_validate') }}"
                                   class="waves-effect">En attente</a>
                            </li>
                        </ul>
                    </div>
                    <img src="{{ asset('img/website/middle.png') }}" class="img-fluid">
                </li>
                <li class="text-center">
                    <a class="collapsible-header waves-effect arrow-r m-0 p-0">Ingrédients<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body animated fadeInDown">
                        <ul>
                            <li><a href="{{ path('admin_liste_units') }}"
                                   class="waves-effect">Unités</a>
                            </li>
                            <li><a href="{{ path('admin_liste_liaisons') }}"
                                   class="waves-effect">Liaisons</a>
                            </li>
                            <li><a href="{{ path('admin_liste_ingredients') }}"
                                   class="waves-effect">Ingrédients</a>
                            </li>
                        </ul>
                    </div>
                    <img src="{{ asset('img/website/middle.png') }}" class="img-fluid">
                </li>
                <li class="text-center">
                    <a class="collapsible-header waves-effect arrow-r m-0 p-0">Modes de cuisson<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body animated fadeInDown">
                        <ul>
                            <li><a href="{{ path('admin_liste_cuisson_type') }}"
                                   class="waves-effect">Types</a>
                            </li>
                            <li><a href="{{ path('admin_liste_cuisson_unity') }}"
                                   class="waves-effect">Unités</a>
                            </li>
                        </ul>
                    </div>
                    <img src="{{ asset('img/website/middle.png') }}" class="img-fluid">
                </li>
                <li class="text-center">
                    <a class="collapsible-header waves-effect arrow-r m-0 p-0">Appareils utilisés<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body animated fadeInDown">
                        <ul>
                            <li><a href="{{ path('admin_liste_device_type') }}"
                                   class="waves-effect">Appareils</a>
                            </li>
                            <li><a href="{{ path('admin_liste_device_mode') }}"
                                   class="waves-effect">Modes</a>
                            </li>
                        </ul>
                    </div>
                    <img src="{{ asset('img/website/middle.png') }}" class="img-fluid">
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->
        <div class="sidenav-bg mask-strong"></div>
    </ul>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav red darken-3">
        <!-- SideNav slide-out button -->
        <div class="float-xs-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p><a href="{{ path('admin') }}">Tableau de bord</a></p>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a href="{{ path('admin') }}" class="nav-link"><i class="fa fa-dashboard"></i> <span
                            class="hidden-md-down">Tableau de bord</span></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('my_recipes') }}" class="nav-link"><i class="fa fa-leanpub"></i> <span
                            class="hidden-md-down">Mes recettes</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique animated zoomIn"
                     aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item waves-effect waves-light" href="{{ path('homepage') }}">Aller vers le site</a>
                    <a class="dropdown-item waves-effect waves-light" href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                    <a class="dropdown-item waves-effect waves-light" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- /.Navbar -->
</header>
<!--/.Double navigation-->

<main>
    <div id="flash">
        <div class="row">
            <div class="offset-sm-1 col-sm-10 mt-5">
                {% for message in app.session.flashbag.get('success') %}
                    <p class="text-center success-color white-text mt-5 p-2 mb-0">{{ message }}</p>
                {% endfor %}
                {% for message in app.session.flashbag.get('info') %}
                    <p class="text-center info-color white-text mt-5 p-2 mb-0">{{ message }}</p>
                {% endfor %}
                {% for message in app.session.flashbag.get('warning') %}
                    <p class="text-center warning-color white-text mt-5 p-2 mb-0">{{ message }}</p>
                {% endfor %}
                {% for message in app.session.flashbag.get('danger') %}
                    <p class="text-center danger-color white-text mt-5 p-2 mb-0">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
</main>
<!-- JQuery -->
<script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ asset('js/tether.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
<!-- MDB sidebar JavaScript -->
<script type="text/javascript" src="{{ asset('js/modules/sidenav.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/modules/dropdown.js') }}"></script>
<!-- Jquery Plugin Sticky -->
<script type="text/javascript" src="{{ asset('js/modules/jquery.sticky.js') }}"></script>
<!-- Fichier JS -->
<script src="{{ asset('js/admin.js') }}"></script>
<!-- Js Perso -->
<script>
    //$(".button-collapse").sideNav();
    var container = document.getElementById('slide-out');
    Ps.initialize(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        maxScrollbarLength: 0
    });

    $('.dropdown-toggle').dropdown();
</script>
<!-- Js Perso -->
{% block javascript %}
    <script>

        new WOW().init();

    </script>
{% endblock %}
</body>
</html>