{% extends ':Admin:dashboard.html.twig' %}

{% block title %}Ajouter une unité de cuisson - {{ parent() }}{% endblock %}

{% block content %}
    <div id="category" class="item">
        <div class="flex-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 mb-r">
                <div class="card card-cascade">
                    <div class="view gradient-card-header red darken-3">
                        <h2 class="h2-responsive">Ajouter une unité de cuisson</h2>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="card-text">
                            <div class="md-form">
                                <i class="fa fa-tag prefix"></i>
                                {{ form_widget(form.name, {'attr': {'length': '30'}}) }}
                                {{ form_label(form.name, 'Unité de cuisson') }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button type="submit" class="btn red darken-3"><i
                                        class="fa fa-check"></i> Ajouter
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}