{% extends ':Admin:dashboard.html.twig' %}

{% block title %}Liste des unités de cuisson - {{ parent() }}{% endblock %}

{% block content %}
    <div id="cookingUnity" class="item">
        <div class="flex-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 mb-r">
                <div class="card card-cascade">
                    <div class="view gradient-card-header red darken-3">
                        <h2 class="h2-responsive">Unités de cuisson</h2>
                        <p>Gestion des unités de cuisson</p>
                    </div>
                    <div class="card-body text-center">
                        <div class="card-text">
                            {% if cookingUnity is not empty %}
                                <table class="table table-striped">
                                    <tbody>
                                    {% for unity in cookingUnity %}
                                        <tr class="row">
                                            <td class="card-text col-7">{{ unity.name }}</td>
                                            <td class="text-center col-5">
                                                <a href="{{ path('admin_cooking_unity_update', {'id': unity.id}) }}"
                                                   class="teal-text"><i class="fa fa-pencil fa-lg"></i></a>
                                                <a href="{{ path('admin_cooking_unity_delete', {'id': unity.id}) }}"
                                                   class="red-text"><i class="fa fa-times fa-lg"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="navigation flex-center">
                                    {{ knp_pagination_render(cookingUnity) }}
                                </div>
                            {% else %}
                                <p>Aucun type de cuisson.</p>
                            {% endif %}
                        </div>
                        <hr>
                        <a class="btn red darken-3" href="{{ path('admin_cooking_unity_add') }}"><i
                                    class="fa fa-check"></i> Ajouter une unité de cuisson</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}