{% extends ':Admin:dashboard.html.twig' %}

{% block title %}Ajout des étapes - {{ parent() }}{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <div id="recipe" class="item">
        <div class="flex-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                <div class="card card-cascade">
                    <div class="view gradient-card-header red darken-3">
                        <h2 class="h2-responsive">Ajouter des étapes</h2>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {% form_theme form '::jquery.collection.html.twig' ':Admin:step-theme.html.twig' %}
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-12">{{ form_label(form.steps) }}</div>
                                <div class="col-12">{{ form_widget(form.steps) }}</div>
                                <div class="col-12">{{ form_errors(form.steps) }}</div>
                                <hr>
                                <div class="col-12">
                                    <div class="row p-3 m-0 flex-center">
                                        {{ form_widget(form.notsaveandcancel, { 'label': ' annuler', 'attr': {'class': 'col-12 col-sm-5 col-md-5 col-lg-5 col-xl-4 btn red darken-3 notsaveandcancel m-1 m-xl-1 mb-2', 'formnovalidate': 'fornovalidate'} }) }}
                                        {{ form_widget(form.saveandback, { 'label': ' reprendre plus tard', 'attr': {'class': 'col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 btn red darken-3 saveandback m-1 m-xl-1 mb-2'} }) }}
                                        {{ form_widget(form.saveandreturn, { 'label': ' ingrédients', 'attr': {'class': 'col-12 col-sm-5 col-md-5 col-lg-5 col-xl-4 btn red darken-3 saveandreturn m-1 m-xl-1 mb-2'} }) }}
                                        {{ form_widget(form.saveandadd, { 'label': 'soumettre la recette ', 'attr': {'class': 'col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 btn red darken-3 saveandadd m-1 m-xl-1 mb-2'} }) }}
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script>
        $('.collection').collection({
            min: 0,
            init_with_n_elements: 1,
            allow_duplicate: false,
            add: '<a href="#" class="btn btn-default"><i class="fa fa-plus"></i></a>',
            after_init: function (collection, element) {
                $('select').material_select();
                /*$('.timepicker').wickedpicker();

                 $(collection).find('.timepicker').each(function () {
                 console.log($(this).val());
                 if ($(this).val() == '00 : 00 : 00') {

                 $(this).val('');
                 }
                 });*/

            },
            after_add: function (collection, element) {
                $('select').material_select();
                //$('.timepicker').wickedpicker(pickerOptions);


                //console.log($(element).find('.timepicker').val(''));
            }
        });
    </script>
{% endblock %}